:root {
    --bg-color: #54086B;
    --heading-color: #ffff;
    --primary-text-color: #00BEC5;
    --secondary-text-color: #ffff;
    --box-height: 650px;
    --box-width: 750px;
    --box-shadow: #FF0BAC, 10px, 10px, 0px, 0px;
    --button-hover: #FF0BAC;
}

body {
    background-image: ("../assets/codingquiz.png");
    background-position: center;
    background-repeat: repeat;
    height: 1vh;
    font-family: AvantGardGothE, sans-serif;
    }

header {
    width: 70%;
    height: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text-color);
}

#timer {
    min-height: 100 px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: right;
    color: var(--heading-color);
}

a {
    text-decoration: none;
    color: var(--heading-color);
    padding: 20px;
}

#welcome {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding-top: 15px;
padding-bottom: 15px;
font-family: Courier, sans-serif;
font-size: 150%;
color: var(--bg-color);
}

#h1 {
    padding: 30px;
}

#startQuiz {
    background-color: var(--button-hover);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.startQuiz:hover {
    background-color: var(--primary-text-color);
  }

.card {
    background-color: var(--bg-color)
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: auto;
    max-width: 800px;
    padding: 30px 40px;
    margin-top: 50px;
}

.button {
    background-color: var(--primary-text-color);
    border: none;
    border-radius: 30px;
    color: var(background-color);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}