:root {
    --bg-color: #54086B;
    --heading-color: #ffff;
    --primary-text-color: #00BEC5;
    --secondary-text-color: #ffff;
    --box-height: 650px;
    --box-width: 750px;
    --box-shadow: #FF0BAC, 10px, 10px, 0px, 0px;
    --button-hover: #FF0BAC;
}

body {
    background-image: ("../assets/codingquiz.png");
    background-position: center;
    background-repeat: repeat;
    height: 1vh;
    font-family: AvantGardGothE, sans-serif;
    }

header {
    width: 100%;
    height: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text-color);
}

#timer {
    min-height: 100 px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: right;
    color: var(--heading-color);
}

a {
    text-decoration: none;
    color: var(--heading-color);
    padding: 20px;
}

#welcome {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding-top: 15px;
padding-bottom: 15px;
font-family: Courier, sans-serif;
font-size: 150%;
}

